<div class="index-body">

<h2 class="headline2">Books</h2>
  <div class="book-box">
    <div class="head-book1">
      <h5>Title</h5>
      <h5>Body</h5>
    </div>

    <% @books.each do |book| %>

    <div class="book-comment">
      <span><%= book.title %></span>
      <span><%= book.body %></span>

      <p>
        <%= link_to "Show", book_path(book) %>
      </p>

      <p>
        <%= link_to "Edit", edit_book_path(book) %>
      </p>

      <p>
        <%= link_to "Destroy", book_path(book), method: :delete, data: { confirm: "本当に削除しますか？" } %>
      </p>
    </div>
    <% end %>
  </div>



<%= render 'form' %>


