<p>title</p>
<strong><%= @book.title %></strong>

<p>body</p>
<strong><%= @book.body %></strong>

<p>
　<%= link_to "Show", book_path(@book) %>
</p>


<%= link_to "Edit", edit_book_path(@book) %>

<%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に削除しますか？" } %>

