<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="headline1"></h1>
      <div class="text-top"><div></div>

    <h2 class="headline2"></h2>
      <div class="book-box"></div>
        <div class="head-book1">
          <p>Title</p>
          <p>Body</p>
        </div>

        <div class="book-comment"></div>

    <h3 class="headline3"></h3>
      <div class="post-box"></div>
        <div class="error-box"></div>
          <div class="error-message"></div>
            <div class="error-count"></div>
            <ul></ul>

    <main>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
